BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
IndentAccessModifiers: true
AccessModifierOffset: -4
SortIncludes: false
NamespaceIndentation: All
