{% extends "base.html" %}

{% from "utils.jinja" import navbar %}

{% block head %}
<style>
    {{ css }}
</style>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const divCommits = document.getElementById('commits');
        if (divCommits) {
            divCommits.addEventListener('keydown', (e) => {
                if (e.key === ' ' || e.key === 'Spacebar') {
                    e.preventDefault();
                    divCommits.scrollBy({
                        top: 100,
                        left: 0,
                        behavior: 'smooth'
                    });
                }
                if (e.shiftKey && (e.key === ' ' || e.key === 'Spacebar')) {
                    e.preventDefault();
                    divCommits.scrollBy({
                        top: -100,
                        left: 0,
                        behavior: 'smooth'
                    });
                }
            });

            divCommits.setAttribute('tabindex', '0');
            
            divCommits.addEventListener('focus', () => {
                divCommits.style.outline = 'none';
            });
            divCommits.focus();
        }
    });
</script>
{% endblock %}
{% block content %}
{{ navbar() }}
<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center mb-5 text-dark">Commit Graph</h1>
            </div>
            <div class="col-12">
                <div class="overflow-hidden" id="commits" style="height: 40vh" tabindex="0">
                    {{ html | safe }}
                </div>
                <div class="text-center mt-4">
                    <p><kbd class="text-white">SPACE</kbd> to scroll</p>
                    <p><kbd class="text-white">SHIFT</kbd> + <kbd class="text-white">SPACE</kbd> to reverse</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}