{% extends "base.html" %}
{% from "utils.jinja" import navbar %}
{% block head %}
    <style>{{ css }}</style>
    <style>
    pre {
        margin: 0;
    }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        const tio = document.getElementById('tio');

        fetch(`{{ url_for('tio_route') }}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                path: `{{ path }}`
            }
        )})
        .then(response => response.json())
        .then(data => {
            const stats = `CPU share: ${data.cpu_share}\nSystem time: ${data.sys_time}\nUser time: ${data.user_time}\nReal time: ${data.real_time}`;
            tio.innerHTML = `
                <div class="card rounded rounded-0 m-0 h-100">
                    <div class="card-body" style="max-height: auto; overflow-y: auto;">
                        <pre>${data.output}</pre>
                    </div>
                    <div class="card-footer m-0">
                        <pre class="text-muted m-0">${stats}</pre>
                    </div>
                </div>
            `;
        });
    </script>
{% endblock %}
{% block content %}
    {{ navbar() }}
    <div class="container-xl">
        <div class="mx-5">
            <p class="font-monospace fs-4 m-0">
                <a href="{{ url_for("index") }}" class="text-decoration-none text-dark">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <span class="code">{{ path }}</span>
            </p>
            <div class="row mt-2">
                <div class="col">
                    <div class="card rounded rounded-0 m-0">
                        <div class="card-body">{{ code | safe }}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100" id="tio"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
