name: Java Checkstyle

on:
  push:
    paths:
      - '**/*.java'

  pull_request:
    paths:
      - '**/*.java'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checkstyle:
    name: runner
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Cache
        uses: actions/cache@v2
        with:
          path: checkstyle.jar
          key: ${{ runner.os }}-checkstyle-${{ hashFiles('**/checkstyle.xml') }}
          restore-keys: |
            ${{ runner.os }}-checkstyle-

      - name: Downloading CheckStyle (10.13)
        run: |
          if [ ! -f ./checkstyle.jar ]; then
            wget https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.13.0/checkstyle-10.13.0-all.jar -O ./checkstyle.jar
          fi

      - name: Lint with CheckStyle
        run: |
          global_exitcode=0
          for file in $(git diff --name-only HEAD^ HEAD | grep '\.java$'); do
            echo "Checking $file"
            exitcode=0
            java -jar ./checkstyle.jar -c ./checkstyle.xml $file > /dev/null 2>&1 || exitcode=$?
            if [ $exitcode -ne 0 ]; then
              java -jar ./checkstyle.jar -c ./checkstyle.xml $file
              if [ $global_exitcode -eq 0 ]; then
                global_exitcode=$exitcode
              fi
            fi
          done
          if [ $global_exitcode -ne 0 ]; then
            exit 1
          fi
